.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* ビューポートの高さに合わせる */
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-logo {
  animation: spin 5s linear infinite;
  width: 100px;
  height: 100px;
}


h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px; /* インプット間の隙間 */
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 1em;
  margin: 5px 0;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
